* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("image/sunset-214576_960_720.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
}
#content {
    text-align: center;
    padding: 20px;
    margin: 2em;
    box-shadow: 1px 3px 16px #b1adad;
    width: 85%;
    
}
h2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    width: 50%;
}
h1 {
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    font-size: 2em;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-style: italic; */
}
#time {
    font-size: 2em;
}
#welcome {
    font-size: 3em;
}
button {
    font-size: 2em;
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
   margin: 9px;
   ;
}
button:focus {
    background-color: #f17108;
    color: #f3f0f0de;
    transition: ease-in 1s;
}
button:hover {
    background-color: rgb(250, 154, 10);
    border: 2px solid #f17108;
    transition: ease-in 1s;
    color: white;
    box-shadow: 1px 3px 16px #b1adad;
}
footer  {
    text-align: center;
 padding: 20px;
    background-color: rgba(158, 150, 150, 0.171);
    color: rgba(253, 250, 250, 0.719);
    position: relative;
    margin-top:  23vh;
    bottom: -15px;
    margin-bottom: 11px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 768px) {
    #content {
        text-align: center; 
    }
    button {
        font-size: 15px;
    }
    button:hover {
        background-color: rgb(250, 154, 10);
    border: 2px solid #f17108;
    transition: ease-out 1s;
    color: white;
}
    p {
        font-size: 15px;
    }
    h1 {
        font-size: 60px;
        font-weight: 4em;
    }
    #welcome, #time {
        font-size: 25px;
    }
}
@media only screen and (max-width: 430px) {
    h1 {
        font-size: 25px;
    }
    #welcome, #time {
        font-size: 15px;
    }
    button {
        font-size: 12px;
        margin: 5px;
    }
    p {
        font-size: 10px;
        
    }
    #content {
        transform: translate3d(180deg);
        height: auto;
        width: 85%;
        padding: 1em;
    }
    button {
        font-size: 9px;
        padding: 5px;
        border-radius: 5px;
    }
    button:hover {
     background-color: rgb(250, 154, 10);
    border: 2px solid #f17108;
    transition: ease-out 1s;
    color: white;
    }
}
@media only screen and (max-width: 310px)  {
    h1 {
        font-size: 15px;
        font-weight: 300%;
    }
    button  {
        font-size: 8px;
        padding: 5px;
    }
    p {
        font-size:15px;
    }
    #content {
        width: 85%;
        margin: 10px 0px 0px 0xp;
    }
}